#parentContainer {
    
    display: grid;
    width: 800px;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  
    img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
        }
    
  }