#parentContainer {
    
    font-size: clamp(.5rem, 1vw + .5rem, 1.5rem);
/* 
1rem: minimum størrelse  
2vw + 1rem: skalerer med viewport width (vw)
3rem: maksimum størrelse */
   

    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  
    img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
        }
    
  }